version: '3.8'
services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      - MYSQL_ROOT_PASSWORD= admin
      - MYSQL_DATABASE= labhkari
    ports:
      - "3306:3306"

  backend:
    build: ./server
    container_name: server
    environment:
      - HOST=mysql
      - USER=root
      - DATABASE_PORT=3306
      - PASSWORD=admin
      - MYSQL_DATABASE=labhkari
      - RAZORPAY_KEY_ID=rzp_test_y5kB7jPsNn1fCY
      - RAZORPAY_SECRET=i2xuKx6iAFHlyhMmyfbbylGO
    depends_on:
      - mysql
    ports:
      - "4000:4000"
    working_dir: /server
    command: npm start

  frontend:
    build: ./client
    container_name: client
    environment:
      - NEXT_CLIENT_PUBLIC_URL=http://localhost:3000
      - NEXT_PUBLIC_SERVER_URL=http://localhost:4000
      - NODE_ENV=production
    depends_on:
      - backend
    ports:
      - "3000:3000"
    working_dir: /client
    command: npm run dev



