# version: '3.8'
# services:
#   mysql:
#     image: mysql:8.0
#     container_name: mysql
#     environment:
#       MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
#     ports:
#       - "3306:3306"

#   backend:
#     build: ./backend
#     container_name: backend
#     environment:
#       - HOST=${HOST}
#       - USER=${USER}
#       - DATABASE_PORT=${DATABASE_PORT}
#       - PASSWORD=${PASSWORD}
#       - NAME=${NAME}
#       - RAZORPAY_KEY_ID=${RAZORPAY_KEY_ID}
#       - RAZORPAY_SECRET=${RAZORPAY_SECRET}
#     depends_on:
#       - mysql
#     ports:
#       - "4000:4000"
#     working_dir: /backend
#     command: npm start

#   frontend:
#     build: ./frontend
#     container_name: frontend
#     environment:
#       - NEXT_CLIENT_PUBLIC_URL=${NEXT_CLIENT_PUBLIC_URL}
#       - NEXT_PUBLIC_SERVER_URL=${NEXT_PUBLIC_SERVER_URL}
#       - NODE_ENV=${NODE_ENV}
#     depends_on:
#       - backend
#     ports:
#       - "3000:3000"
#     working_dir: /frontend
#     command: npm run dev


version: '3.8'
services:
  mysql-container:
    container_name: mysql-container
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    volumes:
      - mysql-data:/var/lib/mysql
    ports:
      - "3306:3306"

  backend:
    container_name: backend
    build:
      context: ./backend
    ports:
      - "4000:4000"
    environment:
      - MYSQL_HOST=${MYSQL_HOST}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - RAZORPAY_KEY_ID=${RAZORPAY_KEY_ID}
      - RAZORPAY_SECRET=${RAZORPAY_SECRET}
    depends_on:
      - mysql-container
    working_dir: /backend
    command: npm start

  frontend:
    container_name: frontend
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    environment:
      - NEXT_CLIENT_PUBLIC_URL=${NEXT_CLIENT_PUBLIC_URL}
      - NEXT_PUBLIC_SERVER_URL=${NEXT_PUBLIC_SERVER_URL}
      - NODE_ENV=${NODE_ENV}
    depends_on:
      - backend
    working_dir: /frontend
    command: npm run dev

volumes:
  mysql-data:





