# version: '3.8'
# services:
#   mysql:
#     image: mysql:8.0
#     container_name: mysql
#     environment:
#       - MYSQL_ROOT_PASSWORD= admin
#       - MYSQL_DATABASE= labhkari
#     ports:
#       - "3306:3306"

#   backend:
#     build: ./server
#     container_name: server
#     environment:
#       - HOST=mysql
#       - USER=root
#       - DATABASE_PORT=3306
#       - PASSWORD=admin
#       - MYSQL_DATABASE=labhkari
#       - RAZORPAY_KEY_ID=rzp_test_y5kB7jPsNn1fCY
#       - RAZORPAY_SECRET=i2xuKx6iAFHlyhMmyfbbylGO
#     depends_on:
#       - mysql
#     ports:
#       - "4000:4000"
#     working_dir: /server
#     command: npm start

#   frontend:
#     build: ./client
#     container_name: client
#     environment:
#       - NEXT_CLIENT_PUBLIC_URL=http://localhost:3000
#       - NEXT_PUBLIC_SERVER_URL=http://localhost:4000
#       - NODE_ENV=production
#     depends_on:
#       - backend
#     ports:
#       - "3000:3000"
#     working_dir: /client
#     command: npm run dev



# version: '3.8'
# services:
#   mysql-container:
#     container_name: mysql-container
#     image: mysql:latest
#     environment:
#       MYSQL_ROOT_PASSWORD: admin
#       MYSQL_DATABASE: labhkari
#     ports:
#       - "3306:3306"

#   backend:
#     container_name: server
#     build: ./server
#     ports:
#       - "4000:4000"
#     environment:
#       - PORT=4000
#       - HOST='localhost'  
#       - USER='root'
#       - PASSWORD=''       
#       - DATABASE_PORT=3306
#       - NAME='labhkari'         
#     depends_on:
#       - mysql-container
#     working_dir: /server
#     command: npm start

#   frontend:
#     container_name: client
#     build: ./client
#     ports:
#       - "3000:3000"
#     environment:
#       - NEXT_CLIENT_PUBLIC_URL=http://localhost:3000
#       - NEXT_PUBLIC_SERVER_URL=http://localhost:4000
#       - NODE_ENV=production
#     depends_on:
#       - backend
#     working_dir: /client
#     command: npm run dev



# 


# services:
#   backend:
#     container_name: backend
#     build:
#       context: ./server
#     ports:
#       - "4000:4000"
#     environment:
#       - PORT=4000
#       - HOST=labhkari.cwhm1m5cemx9.ap-south-1.rds.amazonaws.com
#       - USER=admin
#       - PASSWORD=Root9876
#       - DATABASE_PORT=3306
#       - NAME=labhkari


#   frontend:
#     container_name: frontend
#     build:
#       context: ./client
#     ports:
#       - "3000:3000"
#     environment:
#       - NEXT_CLIENT_PUBLIC_URL=http://localhost:3000
#       - NEXT_PUBLIC_SERVER_URL=http://localhost:4000
#       - NODE_ENV=development
#       - HOST=0.0.0.0
#     depends_on:
#       - backend





services:
  backend:
    container_name: backend
    build:
      context: ./server
    ports:
      - "4000:4000"
    env_file:
      - ./server.env

  frontend:
    container_name: frontend
    build:
      context: ./client
    ports:
      - "3000:3000"
    env_file:
      - ./client.env
    depends_on:
      - backend
